.parentSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 600px;



    img {
        width: 50%;
        border-radius: 15px;


        &:first-of-type {
            filter: grayscale(5);
        }

        &:hover {
            filter: grayscale(0);
        }

    }


    .aboutSection {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 30px;

        img {
            filter: grayscale(0);
        }

        h1 {
            font-size: 40px;
        }
    }
}