body{
    background-image: url('/public/images/background/imkara-visual-N_nTrdUH3y0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}